html {
  height: 100%;
  width: 100%;
}

P {
  font-size: 20px;
  color: #000000;
  margin: 20px;
}
pre {
  font-size: 15px;
  color: #000000;
}
b{
  font-size: 25px;
  color: #3a16bb;
  text-align: center;
}
html{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-size: 30px;
  color:#3a16bb;
  text-align: center;
}
a{
  font-size: 20px;
  color: #000dc2;
  text-decoration:none
}

aside {float: left }